<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Snappler</div>
  <div class="list-group list-group-flush">
    <%= link_to 'Inicio',backend_path, class: 'list-group-item list-group-item-action bg-light' %>
    <%= link_to 'Productos',backend_products_path, remote: true, class: 'list-group-item list-group-item-action bg-light' %>
    <%= link_to 'Categorias',backend_categories_path, remote: true, class: 'list-group-item list-group-item-action bg-light' %>
    <%= link_to 'Etiquetas',backend_tags_path, remote: true, class: 'list-group-item list-group-item-action bg-light' %>

    </div>
</div>