<tr>
    <td><%= tag.name %></td>
         <td> </td>
         
      <td class='text-right'>
       <button type="button" class="btn btn-secondary"><%= link_to 'Ver', backend_tag_path(tag), class: "badge badge-secondary" %></button>
       <button type="button" class="btn btn-secondary"><%= link_to 'Editar', edit_backend_tag_path(tag), class: "badge badge-secondary" %></button>
       <button type="button" class="btn btn-secondary"><%= link_to 'Borrar', backend_tag_path(tag), method: :delete, data: { confirm: 'Esta seguro?' }, class: "badge badge-secondary" %></button>
       </td>
  </tr>
