<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/backend">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Etiquetas</li>
  </ol>
</nav>
<%= render 'filter' %>

<table class="table table-bordered">
  <thead class="thead-light">
  <tr>
  <th>Nombre</th>
  <th>Etiquetas</th>
  <th class='text-right'><%= link_to 'Nueva Etiqueta', new_backend_tag_path, class: "btn btn-dark" %></button>
</tr>
  </thead>
  <tbody id='tags'>
    <%= render @presenter.tags %>
  </tbody>
</table>

<%= will_paginate @presenter.tags %>