<h1>Publicacion #<%= @tag.id %></h1>
<div class='card'>
  <div class='card-body'>
    <div class="mb-3">
      <b>Título</b><br/>
      <%= @tag.name %>
    </div>
  <div class='card-footer'>
    <%= link_to 'Volver', backend_tags_path, class: 'btn btn-outline-secondary' %>
  </div>
</div>