<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/backend">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/backend/products">Productos</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @product.title %></li>
  </ol>
</nav>
<%= render 'form' %>