<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/backend">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Categorias</li>
  </ol>
</nav>

<%= render 'filter' %>

<table class="table table-bordered">
  <thead class="thead-light">
   <tr>
      <th>Nombre</th>
     
      <th class='text-right'><%= link_to 'Nueva Categoria', new_backend_category_path, class: 'btn btn-dark' %></button>
    </tr>
   
  </thead>
  <tbody id='categories'>
    <%= render @presenter.categories %>
  </tbody>
</table>

<%= will_paginate @presenter.categories %>